<!DOCTYPE html>
<html>
    <head>
        <meta name="twitter:card" content="player" />
        <meta name="twitter:creator" content="@DieMaus" />
        <meta name="twitter:site" content="@DieMaus" />
        <meta name="twitter:title" content="puff" />
        <meta
            name="twitter:player"
            content="<%= apiHost %>/teilen?id=<%= id %>&frame"
        />

        <meta
            name="twitter:image:src"
            content="<%= baseUrl %><%= imageUrl %>"
        />
        <meta name="twitter:image" content="<%= baseUrl %><%= imageUrl %>" />
        <meta name="twitter:player:width" content="435" />
        <meta name="twitter:player:height" content="331" />
        <base href="<%= baseUrl %>" />
    </head>
    <body>
        <% scripts.forEach((script) => { %>
        <script src="<%= baseUrl %><%= script %>"></script>
        <% }) %>
    </body>
</html>
