<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Programmieren mit der Maus</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% if(type === 'image/gif') { %>
        <meta name="twitter:card" content="player" />
        <meta
            name="twitter:player"
            content="<%= apiHost %>/teilen?id=<%= id %>&frame=yes"
        />
        <meta name="twitter:player:width" content="484" />
        <meta name="twitter:player:height" content="363" />
        <% } else { %>
        <meta name="twitter:card" content="summary_large_image" />
        <% } %>
        <meta name="twitter:creator" content="@DieMaus" />
        <meta name="twitter:site" content="@DieMaus" />
        <meta name="twitter:title" content="Programmieren mit der Maus" />
        <meta name="twitter:image" content="<%= baseUrl %><%= imageUrl %>" />
        <meta property="og:site_name" content="Programmieren mit der Maus" />
        <meta property="og:url" content="<%= apiHost %>/teilen?id=<%= id %>" />
        <meta property="og:title" content="Programmieren mit der Maus" />
        <meta property="og:description" content="Programmieren mit der Maus" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="<%= baseUrl %><%= imageUrl %>" />
        <base href="<%= baseUrl %>" />
    </head>
    <body>
        <% scripts.forEach((script) => { %>
        <script src="<%= baseUrl %><%= script %>"></script>
        <% }) %>
    </body>
</html>
